@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (pointer: fine) {
  body {
    cursor: none;
  }

  a,
  button,
  input,
  select,
  textarea,
  [role="button"] {
    cursor: none !important;
  }
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}